<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<!-- <a class="btn btn-primary" type="button"
				href="@{/}"><span th:text="#{home.message.1}"></span></a> -->
				
	<section class="layout-content" layout:fragment="corpo">
		
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Lista de Hoteis por cidade</span>
					</li>
				</ul>

			</div>
		</nav>
			<div>
				<form name ='form'>
					<table>
						<tr>
							<td><span th:text="#{formParaBuscaDeHotelPorCidade.cidade.label}"></td>
							<td><select name='cidadeParaSelecionar' onchange='submit()'>
									<option value='0'>--</option>
									<option th:each="nomeCidade : ${cidadesParaSelecionar}" 
									th:text="${nomeCidade.getCidade()}"></option>
							</select></td>
						</tr>
					</table>
				</form>
			</div>
			
				<table border="1" style="width: 400px; border: 1px solid black">
					<tr>
						<th style="width: 70%;"><span th:text="#{formParaBuscaDeHotelPorCidade.nome_hotel.label}"></span></th>
					</tr>
					<tr th:each="hotel : ${hotelDaCidade}">
						<td style="text-align: center">
							<input th:value="${hotel.getNome()}" style="text-align: center">
						</td>
					</tr>
				</table>	
			</section>	
	</body>
</html>