<!-- <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{fragments/layout}">
<head>
<title>Menu</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>
			<span th:text="#{home.hello}"></span>
			<span th:inline="text">[[${#httpServletRequest.remoteUser}]]!</span>
		</h1>
		
		<p><a th:href="@{/}"><span th:text="#{home.message.1}"></a></p>
		
		<div sec:authorize="hasRole('admin.com')">
			<p><a th:href="@{/admin}"><span th:text="#{home.message.2}"></a></p>
		</div>

		<div sec:authorize="hasRole('hotel.com')">
			<p><a th:href="@{/hotel}"><span th:text="#{home.message.3}"></a></p>
		</div>
		<div sec:authorize="hasRole('siteres.com')">
			<p><a th:href="@{/sitereserva}"><span th:text="#{home.message.4}"></a></p>
		</div>
	</div>
</body>
</html> -->

<!DOCTYPE html>
<html layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

	<div sec:authorize="hasRole('admin.com')">
		<div class="container" style="text-align: center;">
			<h1 th:text="#{admin.index.title}"></h1>
			<img alt="" th:src="@{/image/image3}" style="width:800px;">
		</div>
	</div>

	<div sec:authorize="hasRole('hotel.com')">
		<div class="container" style="text-align: center;">
			<h1 th:text="#{hotel.index.title}"></h1>
			<img alt="" th:src="@{/image/image3}" style="width:800px;">
		</div>
	</div>
	
	<div sec:authorize="hasRole('siteres.com')">
		<div class="container" style="text-align: center;">
			<h1 th:text="#{siteres.index.title}"></h1>
			<img alt="" th:src="@{/image/image3}" style="width:800px;">
		</div>
	</div>

	</section>
</body>
</html>

 