<!-- <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="header">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<div style="right: 10px; position: absolute">
						<a th:href="@{''(lang=pt)}"><img alt=""
							th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
							th:href="@{''(lang=en)}"><img alt=""
							th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
					</div>
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/image/logo.png}" alt="logo" style="width: 50px;" />
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}">Home</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</th:block>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">
		<nav
			class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<div style="right: 10px; position: absolute">
						<a th:href="@{''(lang=pt)}"><img alt=""
							th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
							th:href="@{''(lang=en)}"><img alt=""
							th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
					</div>
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " th:href="@{/}">Sistema de reservas de quartos de hotel</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>