<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<!-- <html layout:decorate="~{layout}"> -->
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th><span th:text="#{listarTodosHoteis.id.label}"></span></th>
					<th><span th:text="#{listarTodosHoteis.e-mail.label}"></span></th>
					<th><span th:text="#{listarTodosHoteis.cnpj.label}"></span></th>
					<th><span th:text="#{listarTodosHoteis.nome.label}"></span></th>
					<th><span th:text="#{listarTodosHoteis.senha.label}"></span></th>
				</tr>
			</thead>
			<tr th:each="hotel : ${hoteis}">
				<td th:text="${hotel.getId()}"></td>
				<td th:text="${hotel.getEmail()}"></td>
				<td th:text="${hotel.getCnpj()}"></td>
				<td th:text="${hotel.getNome()}"></td>
				<td th:text="${hotel.getSenha()}"></td>
			</tr>
		</table>
	</div>
</body>
</html>